{% extends "students/base.html" %}
{% load static from staticfiles %}
{% block meta_title %}Екзамени{% endblock meta_title %}
{% block title %}Екзамени{% endblock title %}
{% block content %}

<div class="container">
    <div class="row col-xs-6">
        <a href="{% url 'exams_add' %}" class="btn btn-primary">Додати екзамен</a>
    </div>

</div>
<br/>
<br/>


                    <!--Start student listing -->
<table class="table table-hover table-striped">
    <thead>
        <tr>
            <th><a href=""></a>№</th>
            <th><a href="#">Дата екзамену</a> </th>
            <th><a href="#">Група</a></th>
            <th><a href="#">Предмет</a></th>
            <th>Викладач</th>
            <th>Дії</th>
        </tr>
    </thead>
    <tbody>
        {% for exam in exams %}
        <tr>
            <td>{{ forloop.counter }}</td>

            <td>{{exam.date_exam}}</td>
            <td>{{ exam.group_exam }}</td>
            <td>{{ exam.subject }}</td>
            <td>{{ exam.teacher }}</td>
            <td>
                <div class="btn-group">
                    <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">Дія
                        <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu" role="menu" >
                        <li><a href="{% url 'exams_edit' exam.id %}">Редагувати</a></li>
                        <li><a href="{% url 'exams_delete' exam.id %}">Видалити</a></li>
                    </ul>
                </div>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>

{% endblock content %}