{% extends "students/base.html" %}
{% load i18n %}
{% load static from staticfiles %}
{% block meta_title %}Екзамени{% endblock meta_title %}
{% block title %}{% trans 'Exams' %}{% endblock title %}
{% block content %}

<div class="container">
    <div class="row col-xs-6">
        <a href="{% url 'exams_add' %}" class="btn btn-primary">{% trans 'Add exam' %}</a>
    </div>

</div>
<br/>
<br/>


                    <!--Start student listing -->
<table class="table table-hover table-striped">
    <thead>
        <tr>
            <th><a href=""></a>№</th>
            <th><a href="#">{% trans 'Exam day' %}</a> </th>
            <th><a href="#">{% trans 'Group' %}</a></th>
            <th><a href="#">{% trans 'Subject' %}</a></th>
            <th>{% trans 'Teacher' %}</th>
            <th>{%  trans 'Action' %}</th>
        </tr>
    </thead>
    <tbody>
        {% for exam in exams %}
        <tr>
            <td>{{ forloop.counter }}</td>

            <td>{{exam.date_exam}}</td>
            <td>{{ exam.group_exam }}</td>
            <td>{{ exam.subject }}</td>
            <td>{{ exam.teacher }}</td>
            <td>
                <div class="btn-group">
                    <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">{% trans 'Action' %}
                        <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu" role="menu" >
                        <li><a href="{% url 'exams_edit' exam.id %}">{% trans 'Edit' %}</a></li>
                        <li><a href="{% url 'exams_delete' exam.id %}">{% trans 'Delete' %}</a></li>
                    </ul>
                </div>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>

{% endblock content %}