{% block meta_title %} {% endblock meta_title %}
{% load static from staticfiles %}
{% block extra_css %}
    <link rel="stylesheet" href="{% static 'css/accounts.css' %}">
{% endblock extra_css %}
{% block title %}Мій акаунт {{ user.username }}{% endblock title %}
{% block content %}
<div class="container">
 <form  action="{% url 'my_account' %}" method="post">
    {% csrf_token %}

    <div class="form-group row">
        <label class="col-sm-2" for="first_name">Ім'я</label>
        <div class="col-sm-3">
            <input type="text" class="form-control" id="first_name" value="{{ user.first_name }}" name="first_name" placeholder="">
        </div>
    </div>
    <div class="form-group row">
        <label class="col-sm-2" for="last_name">Прізвище</label>
        <div class="col-sm-3">
            <input type="text" class="form-control" id="last_name" value="{{ user.last_name }}" name="last_name" placeholder="">
        </div>
    </div>
     <div class="form-group row">
        <label class="col-sm-2" for="email">Пошта</label>
        <div class="col-sm-3">
            <input type="text" class="form-control" id="email" value="{{ user.email }}" name="email" placeholder="">
        </div>
    </div>
    <div class="form-group row">
        <label class="col-sm-2" for="username">Користувач</label>
        <div class="col-sm-3">
            <input type="text" class="form-control" id="username" value="{{ user.username }}" name="username" placeholder="">
        </div>
    </div>
    <div class="form-group row">
        <label class="col-sm-2" for="mobile_phone">Телефон</label>
        <div class="col-sm-3">
            <input type="text" class="form-control" id="mobile_phone" value="{{ user.stprofile.mobile_phone }}" name="mobile_phone" placeholder="">
        </div>
    </div>
    <div class="form-group row">
        <div class="col-sm-5">
            <button type="submit" class="btn btn-primary">Змінити</button>
            <a href="{% url 'home' %}" class="btn btn-default" role="button">Скасувати</a>

        </div>
    </div>
 </form>
</div>
{% endblock content %}