{% block meta_title %} {% endblock meta_title %}
{% load i18n %}
{% load static from staticfiles %}
{% block extra_css %}
    <link rel="stylesheet" href="{% static 'css/accounts.css' %}">
{% endblock extra_css %}
{% block title %}{% trans 'My account' %} {{ user.username }}{% endblock title %}
{% block content %}
<div class="container">
 <div class="row col-xs-6">
     <h3>{% trans 'Changing password' %}</h3>
     <p>{% trans 'Check your email for a link to reset your password' %}</p>
     <a href="{% url 'login' %}" class="btn btn-default" role="button">{% trans 'Return to log in' %}</a>
 </div>
</div>
{% endblock content %}