{% block meta_title %} {% endblock meta_title %}
{% load static from staticfiles %}
{% block extra_css %}
    <link rel="stylesheet" href="{% static 'css/accounts.css' %}">
{% endblock extra_css %}
{% block title %}Мій акаунт {{ user.username }}{% endblock title %}
{% block content %}
<div class="container">
 <div class="row col-xs-6">
     <h3>Зміна пароля</h3>
     <p>Перевірте вашу поштову скриньку. Перейдіть за вказаним лінком</p>
     <a href="{% url 'login' %}" class="btn btn-default" role="button">Повернутися до логування</a>
 </div>
</div>
{% endblock content %}