{% extends "students/base.html" %}
{% load i18n %}
{% load static from staticfiles %}
{% block meta_title %}{% trans 'Sign up' %}{% endblock meta_title %}
{% block extra_css %}
    <link rel="stylesheet" href="{% static 'css/accounts.css' %}">
{% endblock extra_css %}
{% block title %}{% endblock title %}
{% block body %}
<div class="container">
    <h2>{% trans 'Sign up' %}</h2>
    <form method="post" novalidate>
        {% csrf_token %}
        {{ form.as_p }}
        <!--{% include 'students/includes/form.html' %}-->
        <button type="submit" class="btn btn-primary">{% trans 'Create an account' %}</button>
        <a href="{% url 'home' %}" class="btn btn-default" role="button">{% trans 'Cancel' %}</a>
    </form>
    <div class="text-center">
        {% trans 'Have you an account?' %} <a href="{% url 'login' %}">Log in</a>

    </div>
</div>


{% endblock body %}