{% extends "students/base.html" %}
{% load static from staticfiles %}
{% block meta_title %}Студенти{% endblock meta_title %}
{% block title %}База студентів{% endblock title %}
{% block content %}

<div class="container">
    <div class="row col-xs-6">
        <a href="{% url 'students_add' %}" class="btn btn-primary">Додати студента</a>
    </div>
    <div class="row col-xs-6">
        <form method="post" enctype="multipart/form-data" action=".">
               {% csrf_token %}
            <label for="search_student">Пошук студентів</label>
            <select id="search_field" name="search_field">
                <option value="">Поле пошуку</option>
                <option value="last_name">Прізвище</option>
                <option value="first_name">Ім'я</option>
                <option value="student_group">Група</option>
                <option value="ticket">№ квитка</option>
            </select>
            <input class="w3-input w3-border" name="search_student" id="search_student" type="text" value="{{request.POST.search_student}}" placeholder="Введіть дані пошуку">
            <button type="submit" class="btn btn-primary" name="search_button">Пошук</button>
        </form>

    </div>
</div>
<br/>
<br/>


                    <!--Start student listing -->
<table class="table table-hover table-striped">
    {% with order_by=request.GET.order_by reverse=request.GET.reverse %}
    <thead>
        <tr>
            <th><a href=""></a>№</th>
            <th>Фото</th>
            <th><a href="{% url 'home' %}?order_by=last_name{% if order_by == 'last_name' and reverse != '1' %}&amp;reverse=1{% endif %}">
                Прізвище
                {% if order_by == 'last_name' and reverse != '1' %}&uarr;
                {% elif order_by == 'last_name' and reverse == '1' %}&darr;
                {% endif %}</a> </th>
            <th><a href="{% url 'home' %}?order_by=first_name{% if order_by == 'first_name' and reverse != '1' %}&amp;reverse=1{% endif %}">
                Ім'я
                {% if order_by == 'first_name' and reverse != '1' %}&uarr;
                {% elif order_by == 'first_name' and reverse == '1' %}&darr;
                {% endif %}</a></th>
            <th><a href="{% url 'home' %}?order_by=ticket{% if order_by == 'ticket' and reverse != '1' %}&amp;reverse=1{% endif %}">
                № білету
                {% if order_by == 'ticket' and reverse != '1' %}&uarr;
                {% elif order_by == 'ticket' and reverse == '1' %}&darr;
                {% endif %}</a></th>
            <th><a href="{% url 'home' %}?order_by=student_group{% if order_by == 'student_group' and reverse != '1' %}&amp;reverse=1{% endif %}">
                Група
                {% if order_by == 'student_group' and reverse != '1' %}&uarr;
                {% elif order_by == 'student_group' and reverse == '1' %}&darr;
                {% endif %}</a></th>
            <th>День народження</th>
            <th>Дії</th>
        </tr>

    </thead>
    <tbody>
        {% for student in students %}
        <tr>
            <td>{{ forloop.counter }}</td>
            <td >
                {% if student.photo %}
                <img height="30" width="30" src="{{ student.photo.url }}" class="img-circle" alt="{{ student.last_name }} {{student.first_name}}" />
                {% else %}
                <img height="30" width="30"  src="{% static 'img/default.jpg' %}" class="img-circle" alt="{{ student.last_name }} {{ student.first_name }}" />
                {% endif %}
            </td>
            <td><a title="Редагувати" href="{% url 'students_edit' student.id %}" class="student-edit-form-link " >{{student.last_name}}</a></td>
            <td><a title="Редагувати" href="{% url 'students_edit' student.id %}" class="student-edit-form-link">{{ student.first_name }}</a></td>
            <td>{{ student.ticket }}</td>
            <td>{{ student.student_group.title }}</td>
            <td>{{ student.birthday }}</td>
            <td>
                <div class="btn-group">
                    <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">Дія
                        <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu" role="menu" >
                        <li><a href="{% url 'students_edit' student.id %}" class="student-edit-form-link">Редагувати</a></li>
                        <li><a href="{% url 'journal' student.id %}">Відвідування</a></li>
                        <li><a href="{% url 'students_delete' student.id %}">Видалити</a></li>
                    </ul>
                </div>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endwith %}
{% with object_list=students %}
    {% include "students/pagination.html" %}
{% endwith %}
{% endblock content %}